        <div class="bagraund_footer"></div>
<footer class="footer">

    <nav>
    <!--    <div class="container" style="margin-top: 30px;">
            <div class=" div-menu-style col-xs-12 col-sm-12 hidden-md hidden-lg no_padding"
                 style="text-align: center; margin-bottom: 20px">
                <a class="text_storinok" href="index.php?route=information/information&information_id=6"><span
                            class="footer-menu-text-style_1"><?php echo $delivery ; ?></span></a> /
                <a class="text_storinok" href="index.php?route=information/information&information_id=4"><span
                            class="footer-menu-text-style"><?php echo $about_us ; ?></span></a> /
                <a class="text_storinok" href="index.php?route=information/information&information_id=7"><span
                            class="footer-menu-text-style"><?php echo $actions ; ?></span></a> /
                <a class="text_storinok" href="/index.php?route=information/contact"><span
                            class="footer-menu-text-style"><?php echo $contacts ; ?></span></a>/
                <a class="text_storinok" href="index.php?route=review/store_review"><span
                            class="footer-menu-text-style_4"><?php echo $reviews ; ?></span></a>
            </div>
        </div> -->

        <div class="container" style=" margin-bottom: 24px;">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="    padding: 0;">
                <div id="logo">
                    <?php if ($logo) { ?>
                    <a href="<?php echo $home; ?>"><img src="<?php echo $logo; ?>" title="<?php echo $name; ?>"
                                                        alt="<?php echo $name; ?>" class="img-responsive"/></a>
                    <?php } else { ?>
                    <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
                    <?php } ?>
                </div>
            </div>

        <!--    <div class=" div-menu-style hidden-xs hidden-sm col-md-5 col-lg-5 no_padding"
                 style="margin-bottom: 20px; text-align: center">
                <a class="text_storinok" href=""><span
                            class="footer-menu-text-style_1"><?php echo $delivery ; ?></span></a> /
                <a class="text_storinok" href=""><span
                            class="footer-menu-text-style"><?php echo $about_us ; ?></span></a> /
                <a class="text_storinok" href=""><span
                            class="footer-menu-text-style"><?php echo $actions ; ?></span></a> /
                <a class="text_storinok" href="/index.php?route=information/contact"><span
                            class="footer-menu-text-style"><?php echo $contacts ; ?></span></a>/
                <a class="text_storinok" href=""><span
                            class="footer-menu-text-style_4"><?php echo $reviews ; ?></span></a>
            </div> -->
            <div style="margin-top: 10px" class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4 we_are_in_social_networks_container">
                <span class="we_are_in_social_networks"><?php echo $we_are_in_social_networks ; ?></span>
                <a href="<?php echo $config_vk ; ?>"><img src="/image/icon_vk.png"></a>
                <a style="margin-left: 3px" href="<?php echo $config_twitter ; ?>"><img src="/image/icon_twitter.png"></a>
                <a style="margin-left: 3px" href="<?php echo $config_facebook ; ?>"><img src="/image/icon_facbook.png"></a>
            </div>
            <div class="hidden-xs col-sm-7 col-md-4 col-lg-3 we_are_in_social_networks_KP text-center">

                <a  class="text_storinok" ><img src="/image/Mastercard-2.png"></a>
                <a style="margin-left: 3px" class="text_storinok" ><img src="/image/Visa-2.png"></a>
                <a style="margin-left: 3px" class="text_storinok" ><img src="/image/PayPal-2.png"></a>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg we_are_in_social_networks_KP text-center">
                <span class="we_are_in_social_networks hidden-xs"><?php echo $we_accept ; ?></span>
                <a  class="text_storinok" ><img src="/image/Mastercard.png"></a>
                <a style="margin-left: 3px" class="text_storinok" ><img src="/image/Visa.png"></a>
                <a style="margin-left: 3px" class="text_storinok" ><img src="/image/PayPal.png"></a>
            </div>
            <div class="hidden-xs col-sm-5 col-md-12 col-lg-2 " style="text-align: right; margin-top: 10px; padding-right: 0 !important; padding-left: 0;">
                <span class="we_are_in_social_networks"><?php echo $development_and_support ; ?></span>
                <a class="RocketDev" href="">RocketDev</a>
            </div>
        </div>
      <!--  <nav style="background-color: #f9f9f9; padding-bottom: 5px; padding-top: 5px;">
            <div class="container">
                <div class="telephone hidden-xs col-sm-3 col-md-3 col-lg-3 no_padding">
                    <div class="phone-icon-padding">
                        <span class="icon_telephone_style"><a href="<?php echo $contact; ?>"><img
                                        src="/image/Telephone_icon.png"></a></span>
                        <span class="text_telephone_style"><?php echo $telephone; ?></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 footer_text" style="text-align: center;">
                    <span><?php echo $footer_text ; ?></span>
                </div> -->
          <!--  </div>
        </nav> -->
    </nav>
</footer>

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=214598975616482";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body></html>