<?php echo $header; ?>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 container_cart">
        <div class="cart_home_fix"> <?=$cart; ?></div>
    </div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">
    <div class=""><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <!-- <div class="" style="margin-top: 10px"> -->
            <div class="col-sm-12 image_home_top no-padding">
                <div class="hidden-xs hidden-sm hidden-md col-lg-4" style="padding-left: 0">
                    <div class="mini-baner-1">
                        <a href="">
                            <img style="width: 100%; max-height: 112px;" class="" src="/image/catalog/top_baner-1.png">
                        </a>
                    </div>
                    <div class="mini-baner-2" style="padding-left: 0">
                        <a href="">
                            <img style="width: 100%; max-height: 112px;" class="" src="/image/catalog/top_baner-2.png">
                        </a>
                    </div>
                </div>
                <?php echo $content_top; ?>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg no-padding">
            <div class="mini-baner-1 col-xs-6 col-sm-6 col-md-6">
                <a href="">
                    <img style="width: 100%; max-height: 112px;" class="" src="/image/catalog/top_baner-1.png">
                </a>
            </div>
            <div class="mini-baner-2 col-xs-6 col-sm-6 col-md-6">
                <a href="">
                    <img style="width: 100%; max-height: 112px;" class="" src="/image/catalog/top_baner-2.png">
                </a>
            </div>
        </div>
            <div class="clearfix"></div>
            <div style="display: none;" class="col-sm-12 col-md-12 col-lg-3 no_padding style_KP">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-12 container_style_icon">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding">
                            <a href="">
                            <img class="img_home_style" src="../../../../../../image/catalog/demo/icon_actsii.png">
                                </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text_home_style_2 no_padding" style="margin-top: 10px">
                            <a href="">
                            <span class="text_home_style"><?php echo $more_shares; ?></span>
                            </a>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-12 container_style_icon">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding">
                            <a href="">
                            <img class="img_home_style_2" src="../../../../../../image/catalog/demo/icon_tovaru.png">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding" style="    margin-top: 10px">
                            <a href="">
                            <span class="text_home_style"><?php echo $the_best_range; ?></span>
                            </a>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding">
                            <a href="">
                            <img class="img_home_style_3" src="../../../../../../image/catalog/demo/icon_03.png">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding" style="    margin-top: 10px">
                            <a href="">
                            <span class="text_home_style"><?php echo $healthy_eating; ?></span>
                            </a>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding">
                            <a href="">
                            <img class="img_home_style_4" src="../../../../../../image/catalog/demo/icon_04.png">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no_padding" style="    margin-top: 10px">
                            <a href="">
                            <span class="text_home_style"><?php echo $loyalty_program; ?></span>
                            </a>
                        </div>
                    </div>

            </div>
        <!-- </div> -->
        <?php echo $column_right; ?></div>
    <?php echo $content_bottom; ?>
    <div class="row">
            <div class="review"><?php echo $store_review; ?></div>
        </div>
</div>
</div>
<?php echo $footer; ?>