@font-face {
    font-family: 'Trebuchet';
    src: local('Trebuchet'),url('trebuchet.otf') format('otf'), url('trebuchet.woff') format('woff'), url('trebuc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

