<?php echo $header; ?>

<div class="container">

	<div class="row"><?php echo $column_left; ?>
		<?php if ($column_left && $column_right) { ?>
		<?php $class = 'col-sm-6'; ?>
		<?php } elseif ($column_left || $column_right) { ?>
		<?php $class = 'col-sm-8 col-md-9'; ?>
		<?php } else { ?>
		<?php $class = 'col-sm-12'; ?>
		<?php } ?>
		<div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
			<ul class="breadcrumb">
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
				<?php } ?>
			</ul>
			<?php if ($attention) { ?>
			<div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $attention; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<?php } ?>
			<?php if ($success) { ?>
			<div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<?php } ?>
			<?php if ($error_warning) { ?>
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<?php } ?>
			<h3 class="trash-header"><?php echo $heading_title; ?></h3>
				<div class="row">
					<?php foreach ($products as $product) { ?>

					<div class="product-item product-layout trash-product col-sm-6 col-md-4 col-lg-3">
						<div class="product-thumb transition">
							<div class="nd-wrap nd-style-1">
								<h4>
									<span class="remove-product"
											type="button" data-toggle="tooltip"
											title="<?php echo $button_remove; ?>" class=""
											onclick="cart.remove('<?php echo $product['key']; ?>');">
										X
									</span>
									<a class="text-center"
									   href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?>
									</a>
								</h4>
								<center>
									<a href="<?php echo $product['href']; ?>">
										<img src="<?php echo $product['thumb']; ?>"
											 alt="<?php echo $product['name']; ?>"
											 title="<?php echo $product['name']; ?>" class="img-responsive"/>
									</a>
								</center>

							</div>

							<div class="caption">
								<div class="row no-margin text-center">
									<div class="col-xs-12">
										<?php if ($product['price']) { ?>
										<p class="price">
											<span class="price"><?php echo $product['price']; ?></span>
											<?php if($product['product_weight']>0) { ?>
											<span id="pw_<?=$product['product_id'];?>"><?php echo $product['weight']; ?></span>
											<?php } ?>
										</p>
										<?php } ?>
									</div>
									<div class="col-xs-12">
										<i class="charges fa fa-minus" onclick="quantity_dec(<?=$product['key'];?>)"></i>
											<input type="text" name="quantity[<?php echo $product['key']; ?>]"
												   value="<?php echo $product['quantity']; ?>" size="1" class="text-center input-quantity" oninput="quantity_onchange(<?=$product['key'];?>)"/>
										<i class="charges fa fa-plus"  onclick="quantity_inc(<?=$product['key'];?>)"></i>
											<!--<button style="    padding: 3px 2px;" type="submit" data-toggle="tooltip"
													title="<?php echo $button_update; ?>" class="btn btn-primary"><i
														class="fa fa-refresh"></i></button>-->
									</div>
								</div>
							</div>
						</div>
					</div>
					<?php } ?>
				</div>
			<br/>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<table class="table table-bordered">
						<?php foreach ($totals as $total) { ?>

						<?php } ?>
					</table>
				</div>
			</div>


			<div class="row no-margin trash-information">
				<div class="col-md-6">
					<div class="col-xs-6 text-left no-padding">
						<div class="row no-padding padbot"><?= $cart_number_of_products_text; ?>:</div>
						<div class="row no-padding padbot"><?= $cart_weight_text; ?>:</div>
						<div class="row no-padding padbot"><?= $parcel_count_text; ?>:</div>
					</div>
					<div class="col-xs-6 text-left no-padding">
						<div class="row no-padding padbot"><span id="cartCount"><?=$count; ?></span></div>
						<div class="row no-padding padbot"><span id="totalWeight"><?=$weight; ?></span></div>
						<div class="row no-padding padbot">
							<div id="parcel">
																<?php foreach($parcel as $item){ ?>
																<span><?=$item['count'];?> - <?=$item['price'];?> | </span>
																<?php } ?>
														  </div>

						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6">
					<div class="col-xs-6 text-left no-padding">
						<div class="row no-padding padbot"><?= $cart_cost_text; ?>:</div>
						<!--<div class="row no-padding padbot"><?= $cart_delivery_text; ?>:</div>-->
						<div class="row no-padding padbot"><?= $cart_commission_text; ?>:</div>
						<div class="row no-padding padbot"><?= $cart_the_total_cost_text; ?>:</div>
					</div>
					<div class="col-xs-6 text-left no-padding">
						<div class="row no-padding padbot"><span id="totalPrice"><?=$total['text']; ?></span></div>
						<!--<div class="row no-padding padbot"><b><span id="deliveryPrice"><?=$delivery; ?></span></b></div>-->
						<div class="row no-padding padbot"><span id="commission"><?=$commission; ?> $</span></div>
						<div class="row no-padding padbot"><span id="allTotalPrice"><?=$totalPrice; ?>/<?=$curency_usd;?></span></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="panel-group coupon" id="accordion">
						<?php echo $coupon; ?>
					</div>
				</div>
				<div class="col-md-6 no-padding btn-row">
					<div class="col-xs-6 col-sm-5 no-padding">
						<a href="<?php echo $checkout; ?>"
						   class="btn ordering">
							<?php echo $button_checkout; ?>
						</a>
					</div>
					<div class="col-xs-6 col-sm-5">
						<a href="<?php echo $continue; ?>"
						   class="btn continue-shopping" >
							<?php echo $button_shopping; ?>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<?php echo $content_bottom; ?></div>

		<?php echo $column_right; ?></div>

</div>

<?php echo $footer; ?>
