
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 47px;">
        <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                <input type="text" name="coupon" value="<?php echo $coupon; ?>" placeholder="<?php echo $entry_coupon; ?>" id="input-coupon" class="form-control cart-cupon-input-style col-xs-7 col-sm-6 col-md-7 col-lg-7" />
        </div>
                <input style="border-radius: 0; margin-top: 10px; margin-left: 10px;" type="button" value="<?php echo $button_coupon; ?>" id="button-coupon" data-loading-text="<?php echo $text_loading; ?>"  class="btn cart-cupon-button_style2-style col-xs-5 col-sm-5 col-md-5 col-lg-5" />
</div>


