<nav class="top_style" id="top">
	<?php if($heading_title) { ?>
	<span class="legend__inner2">
                                <span class="legend__left2 l-ab_villa hidden-xs"></span>
                                <span class="legend__content2 about_villa-title mob_style"><?php echo $heading_title; ?></span>
                                <span class="legend__right2 l-ab_villa hidden-xs"></span>
	</span>
	<?php } ?>
	<div class="text_style_html" style="    margin-top: 20px;">
		<?php echo $html; ?>
	</div>
</nav>
