@import "../fonts/Trebuchet/trebuchet.css";
.cls_border_2{
    height: 60px;
}
.cart_KP{
    height: 420px;
}
.cart_KP_2{
    height: 420px;
}
.fygura-47{
    height: 30px;
    width: 54px;
    float: left;
    background-image: url('../image/fygura-47.png');
    background-size: 100% 100%;
}
.container_review{
    height: 150px;
}
.cls_border_3 {
    border-top: none;
    display: block;
    padding: 0;
    margin-left: -18px;
    margin-right: -142px;
    display: block;
    padding: 0;
}

.product-day:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
}

.co-back-2:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
}

.button_style_featured2:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
    background: #79D002;
}

.button_style2:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
    background: #79D002;
}

.KP-20 .transition_KP:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
}

.button_style:hover {
    box-shadow: 0 0 10px rgb(121, 208, 2);
    background: #79D002;
}

.style_cart_bottom {
    background: url("/image/catalog/cart_botton_icon.png") no-repeat center bottom;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-size: 100% 100%;
}

.table, .total > tbody > tr > td {
    padding: 0px 0px !important;
}

#nav {
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
}

#nav li {
    float: left;
    margin-right: 10px;
    position: relative;
    display: block;
}

#nav li a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

#nav li a:hover {
    color: #fff;
    text-decoration: underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul {
    list-style: none;
    position: absolute;
    left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity: 0; /* Устнавливаем начальное состояние прозрачности */
    -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}

#nav ul li {
    background-color: #fff;
    opacity: 0.9;
    padding-top: 1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float: none;
}

#nav ul a {
    white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display: block;
}

#nav li:hover ul { /* Выводим выпадающий пункт при наведении курсора */
    left: -40px; /* Приносим его обратно на экран, когда нужно */
    opacity: 1; /* Делаем непрозрачным */
}

#nav li:hover a { /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    text-decoration: underline;
}

#nav li:hover ul a { /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover { /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    text-decoration: underline;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.cart_container_KP {
    position: absolute;
    height: 7px;
    background-image: url('/image/catalog/cart_botton_icon.png');
    background-repeat: no-repeat;
    background-position: bottom;
    top: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.container_cart_2 {
    left: 50%;
    margin-left: -50px;
    top: 25%;
    position: absolute;
}

.text_shopping_cart3 {
    font-family: Verdana;
    font-weight: bolder;
    font-size: 30px;
    padding: 0px;
}

.container_cart_1 {
    width: 100%;
    top: 50%;
    position: absolute
}

.cls_border_2_KP {
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
}

.container_cart {
    float: right;
    padding-right: 0;
}

.content-KP-forgotten {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

.mini_menu_KP {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -moz-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -o-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -ms-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: linear-gradient(to top, #f2f1f1, #fff);
}

.content-review-KP {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

form .container_review_KP {
    padding: 20px;
}

.required_KP {
    padding: 0 20px !important;
    margin-top: 25px;
}

.required_KP-2 {
    padding: 0 20px !important;
    margin-top: 10px;
}

.img-responsive {
    margin: 0 auto;
}

.KP.prices-product-style_KP {
    text-align: right !important;
}

.nav > li > a {
    padding: 12px 20px !important;
}

.text_empty_style_order {
    font-family: Verdana;
    font-weight: normal;
    font-size: 15px;
}

.btn_save_KP {
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    width: 216px;
    height: 39px;
    background-color: #69b206;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    background-image: -webkit-linear-gradient(bottom, #69b206, #85e700);
    background-image: -moz-linear-gradient(bottom, #69b206, #85e700);
    background-image: -o-linear-gradient(bottom, #69b206, #85e700);
    background-image: -ms-linear-gradient(bottom, #69b206, #85e700);
    background-image: linear-gradient(to top, #69b206, #85e700);
    border-radius: 0 !important;
}

.edit_text_style_KP {
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    color: #9a9696;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-top: 10px;
}

.register_text_account_already {
    margin-top: 20px;
    padding-left: 20px;
}

.container_button_continue_KP {
    margin-top: 55px;
}

.breadcrumbmy_KP {
    padding-left: 0px !important;
    margin-top: 15px !important;
    margin-bottom: 35px !important;
}

.cart-new-customer-style_KP {
    font-family: 'Verdana';
    font-size: 15px;
    font-weight: bold;
    margin: 40px 0;
}

.text_forgotten {
    font-family: Verdana;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}

.cart-text_register_checkout {
    margin-bottom: 20px !important;
}

.form-group_KP {
    margin-bottom: 14px !important;
}

.form-group_KP-2 {
    margin-bottom: 20px !important;
}

#content-KP {
    min-height: 364px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

#content-information-KP {
    min-height: 150px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

#content-information-contact-KP {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

.content-information-contact-KP {
    margin-bottom: 35px !important;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

#content_register-KP {
    min-height: 300px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
}

#content-success-KP {
    min-height: 344px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    margin-bottom: 30px;
}

#content-order-KP {
    width: 100%;
    min-height: 165px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    box-shadow: 0 0 8px rgba(0, 0, 0, .34);
    margin-bottom: 30px;
}

.input-email_KP {
    width: 100%;
    height: 39px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -moz-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -o-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: -ms-linear-gradient(bottom, #f2f1f1, #fff);
    background-image: linear-gradient(to top, #f2f1f1, #fff);
}

.checkoutpadding_KP {
    padding-left: 10px;
    padding-right: 40px;
}

.checkoutpadding_KP-2 {
    padding-left: 40px;
    padding-right: 10px;
}

.cart-part1-div-style_KP {
    border-bottom: 1px green dashed;
    padding: 10px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
}

.cart-part1-contact-style_KP {
    border-bottom: 1px green dashed;
    padding: 15px 20px;
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
}

.cart-part1-div-style_edit_KP {
    border-bottom: 1px green dashed;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
    margin-bottom: 10px;
}

.cart-part1-div-style_order_KP {
    border-bottom: 1px green dashed;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
    background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
    margin-bottom: 10px;
}

.button_cart_KP {
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    width: 216px;
    height: 39px;
    background-color: #69b206;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    box-shadow: 0 0 1px rgba(0, 0, 0, .47);
    background-image: -webkit-linear-gradient(bottom, #69b206, #85e700);
    background-image: -moz-linear-gradient(bottom, #69b206, #85e700);
    background-image: -o-linear-gradient(bottom, #69b206, #85e700);
    background-image: -ms-linear-gradient(bottom, #69b206, #85e700);
    background-image: linear-gradient(to top, #69b206, #85e700);
    border-radius: 0 !important;
}

.cart_home {
    margin-top: -10px;
}

.image_home_top {
    margin-bottom: 15px;
}

.text_style_owl_KP {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    border: none;
    float: left;
}

.counter-product_KP {
    width: 75px;
    height: 30px;
    background-color: #069;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .18);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .18);
    box-shadow: 0 0 4px rgba(0, 0, 0, .18);
    background-image: -webkit-linear-gradient(bottom, #f2f1ef, #f3f3f3);
    background-image: -moz-linear-gradient(bottom, #f2f1ef, #f3f3f3);
    background-image: -o-linear-gradient(bottom, #f2f1ef, #f3f3f3);
    background-image: -ms-linear-gradient(bottom, #f2f1ef, #f3f3f3);
    background-image: linear-gradient(to top, #f2f1ef, #f3f3f3);
}

.fieldset {
    margin: 1em 0;
}

.fs-header {
    border: 8px solid #ffffff;
}

.fieldset_special > .legend {
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-width: 0px;
    padding: 30px 0 35px 0;
}

.legend__inner {
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
}

.legend__content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.legend__information {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
    font-family: Verdana;
    font-size: 15px;
    padding: 5px 20px 0 0;
}

.legend__left,
.legend__right {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    margin: 0 0 0 -999px;
    height: 2px;
    background-color: rgba(199, 199, 199, .47);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    margin-top: 35px;
    margin-bottom: 30px;
}

.legend__right-information {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 10px 0;
    height: 1px;
    background-color: rgba(199, 199, 199, .47);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    box-shadow: 0 0 2px rgba(255, 255, 255, .56);
}

.legend__inner2 {
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
}

.legend__content2 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.legend__left2,
.legend__right2 {
    display: inline-block;

    vertical-align: middle;

    width: 38%;
    margin: 0 0 0 0px;
    height: 2px;
    background-color: rgba(199, 199, 199, .47);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    margin-top: 35px;
    margin-bottom: 30px;
}

.legend__inner3 {
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
}

.legend__content3 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.legend__left3,
.legend__right3 {
    display: inline-block;

    vertical-align: middle;

    width: 44%;
    margin: 0 0 0 0px;
    height: 2px;
    background-color: rgba(199, 199, 199, .47);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    box-shadow: 0 0 2px rgba(255, 255, 255, .56);
    margin-top: 35px;
    margin-bottom: 30px;
}

.l-header {
    border-top: 8px solid #ffffff;
}

.legend__right {
    margin: 0 -999px 0 0;
}

#carousel_header {
    position: relative !important;
    z-index: 9999 !important;
}

.content {
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    border-top: none;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    display: none;
    z-index: 999;
    max-width: 100%;
}

.menu {
    margin: 0px 0;
    z-index: 0;
    height: 104px;

}

.menu.activeG:after {
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;
    background: white;
    z-index: 11;
    content: '';
    border-right: 2px solid #69b206;
    border-left: 2px solid #69b206;
}

.menuContainer {
    height: 102px;
    width: 400px;
    background-color: deepskyblue;
    float: left;
}

.leftTopLine,
.rightTopLine {
    position: absolute;
    height: 2px;
    background-color: transparent;
}

.leftTopLine {
    left: 0px;
    width: 0px;
}

.rightTopLine {
    right: 0px;
    width: 0px;
}

.subMenu {
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 50px;
    float: left;
    margin-bottom: 15px;
}

.masterBlock {
    position: relative;
}

.float_left {
    float: left !important;
}

.float_right {
    float: right !important;
}

.style_charges {
    height: 22px !important;
    width: 9px;
    background-color: #87c700;
    text-align: center;
    top: 2px;
}

.charges_1 {
    cursor: pointer;
    color: #ffffff;
    height: 11px;
    text-align: center;
    display: block;
    line-height: 11px;
}

.charges_2 {
    cursor: pointer;
    color: #ffffff;
    height: 11px;
    text-align: center;
    bottom: 1px;
    display: block;
    line-height: 11px;
}

.style_quantity {
    width: 27px;
    height: 22px !important;
    text-align: center;
    top: 2px;
    font-family: 'Trebuchet MS' !important;
    font-size: 12.69px;
    color: #333333;
    background-color: #f9f9f9;
}

.price-cart_style {
    font-family: 'Trebuchet MS' !important;
    font-size: 14px;
    color: #649715;
    font-style: italic;
}

/* pagination */
/* line 1008, ../sass/main.sass */
.pagination ul {
    padding: 0;
    margin: 0;
}

/* line 1011, ../sass/main.sass */
.pagination ul li {
    list-style-type: none;
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 3px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

/* line 1020, ../sass/main.sass */
.pagination ul li a {
    font-size: 18px;
    color: #87c700;
    border-bottom: 1px solid #87c700;
}

/* line 1024, ../sass/main.sass */
.pagination ul li a:hover {
    border-bottom: 1px solid #87c700;
    text-decoration: none;
}

/* line 1027, ../sass/main.sass */
.pagination .current {
    background-color: #87c700;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* line 1030, ../sass/main.sass */
.pagination .current:hover {
    background-color: #87c700;
}

/* line 1032, ../sass/main.sass */
.pagination .current a {
    color: #f07735;
    border-bottom: none;
}

/* line 1035, ../sass/main.sass */
.pagination .current a:hover {
    text-decoration: none;
    border-bottom: none;
}

/* line 1038, ../sass/main.sass */
.pagination .next {
    background-color: #87c700;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* line 1042, ../sass/main.sass */
.pagination .next:hover {
    background-color: #8dc700;
}

/* line 1044, ../sass/main.sass */
.pagination .next a {
    color: #f07735;
    border-bottom: none;
    font-size: 28px;
    line-height: 34px;
}

/* line 1049, ../sass/main.sass */
.pagination .next a:hover {
    text-decoration: none;
    border-bottom: none;
}

/**/

.button_product {
    margin-bottom: 15px;
}

.container_carousel-control {
    /*width: 0px!important;
	height: 0px!important;
	left: 50%;
	top: 6%;*/
    width: 50px;
    background-image: none !important;
}

.q {
    position: absolute;
    margin-bottom: -15px;
    bottom: 50%;
    cursor: pointer;
    left: 2.5%;
}

.w {
    position: absolute;
    margin-bottom: -15px;
    bottom: 50%;
    cursor: pointer;
    right: 2.5%;
}

.slider_pager {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.breadcrumb_text a {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: #333333;
}

.breadcrumb_text {
    list-style: none;
}

.breadcrumb_category_style {
    margin-bottom: 20px;
}

.icon_corzinu {
    background: url("../../../../../image/catalog/demo/icon_corzinu.png") no-repeat left !important;
    width: 20px;
    height: 20px;
    position: absolute;
}

.icon_cart {
    background: url("../../../../../image/catalog/demo/icon_corzinu2.png") no-repeat left !important;
    width: 25px;
    height: 20px;
    position: absolute;
    margin: 7px 0 0px 70px;
}

.icon_cart_1 {
    background: url(../../../../../image/catalog/cart_news.png) no-repeat left !important;
    width: 25px;
    height: 20px;
    position: absolute;
}

.icon_cart_2 {
    background: url(../../../../../image/catalog/shopping-cart-icons-100x75.png) no-repeat left !important;
    width: 100px;
    height: 76px;
    position: absolute;
}

.text_shopping_cart2 {
    padding-left: 5px;
    font-family: Verdana;
    font-size: 13px;
    font-weight: 100 !important;
    color: #333333;
}

img.header_image {
    width: 33px !important;
    height: 33px !important;
    margin: auto;
    margin-bottom: 8px ! important;
    margin-top: 8px !important;
}

.imga_category {
    display: block;
    max-width: 75%;
    height: auto;
}

.owl-carousel_KP {
    margin: 0 0 20px;
    background: #f9f9f9 !important;
    direction: ltr !important;
    z-index: 1;
}

.form-control_style {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    color: #a3a2a2;
}

.owl-wrapper-outer {
    border: 0 solid #fff !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.owl-carousel .owl-buttons div {
    opacity: 1 !important;
}

.owl-prev {
    margin: -20px 0px 0px -30px !important;
}

.owl-carousel_KP {
    margin: 15px 0 5px 0 !important;
}

.icon_telephone_style {
    position: relative;
    top: -4px;
    margin-right: 8px;
}

.text_telephone_style {
    font-family: Verdana;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.text_language_2 {
    margin-right: 10px;
}

.text_language {
    position: relative;
    top: 1px;
    font-size: 13px;
    color: #006699;
}

#language .btn-group {
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(26%, rgba(253, 253, 253, 1)), color-stop(51%, rgba(248, 248, 248, 1)), color-stop(76%, rgba(245, 244, 244, 1)), color-stop(100%, rgba(242, 241, 241, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f1f1', GradientType=0);
}

#top .btn-link {
    padding: 0 30px 2px 10px;
    border: 0;
    background-position: center right 10px;
}

#top .btn-link img {
    width: 20px;
    height: 13px;
    margin-right: 5px;
}

.dropdown-toggle {
    padding-right: 10px;
    background-image: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dropdown-toggle_KP {
    cursor: pointer;
    padding-right: 10px !important;
    background-image: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%) !important;
    z-index: 100;
}

.text_currency {
    /*font-family: 'Trebuchet MS';
	font-size: 14px;
	font-weight: 700;*/
}

.text_logout a {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-weight: 300;
    color: #0b0b0b;
    border-right: 1px solid #999 !important;
    padding-right: 22px !important;
    text-decoration: underline;
}

.header_profile_text a {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-weight: 300;
    color: #0b0b0b;
    border-right: 1px solid #999 !important;
    padding-right: 22px !important;
    text-decoration: underline;
}

.text_login {
    /*padding-left: 11px;*/
    padding-right: 17px;
    border-right: 1px solid #006699;
}

.text_register {
    padding-left: 13px;
}

.text_login a,
.text_register a {
    color: #006699;
    border-bottom: 1px dashed #006699;
    text-decoration: none;
}

.text_select_country {
    display: inline-block;
    margin-right: 5px;
}

.dropdown-country {
    display: inline-block;
}

.header-menu-text-style_1,
.header-menu-text-style,
.header-menu-text-style_4 {
    padding-right: 15px;
    position: relative;
    width: 113px;
    margin-top: 12px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    line-height: 20px;
    display: inline-block;
    border-right: 1px solid #c2c2c2;
    font-weight: 600;
}

.header-menu-text-style_4 {
    border-right: 0;
}

.no_margin {
    margin: 0 !important;
}

.no_padding {
    padding: 0 !important;
}

.we_are_in_social_networks {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    padding-right: 20px;
    color: #333333;
}

a.RocketDev {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    color: #5a7ba5 !important;
}

.footer_text {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-weight: 500;
    color: #333333;
}

.KP-100 {
    /*width: 100%;*/
    /*padding: 0;*/
}

.kp_100_recom {
    width: 100%;
    padding: 0;
}

.KP-20 .transition {
    padding: 18px;
    margin-bottom: 17px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 1);
}

.button_style33 {
    margin-top: 0 !important;
    position: relative;
    bottom: 14px;
}

.KP-80 {
    width: 80%;

}

a.text_featured {
    font-size: 15px;
    color: #006699;
    text-decoration: none;
}

.text_featured_style {
    margin-bottom: 12px;
    margin-top: 25px;
}

.price-old {
    font-size: 12px;
    color: #c3c3c2 !important;
    font-weight: 700 !important;
    font-style: italic !important;
    text-decoration: line-through !important;
}

.button_style {
    width: 100%;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    outline: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    background: rgba(135, 231, 0, 1);
    background: -moz-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135, 231, 0, 1)), color-stop(25%, rgba(131, 224, 1, 1)), color-stop(50%, rgba(121, 209, 2, 1)), color-stop(75%, rgba(112, 189, 4, 1)), color-stop(100%, rgba(104, 179, 6, 1)));
    background: -webkit-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -o-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -ms-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e700', endColorstr='#68b306', GradientType=0);
}

.button_style2 {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    outline: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    background: rgba(135, 231, 0, 1);
    background: -moz-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135, 231, 0, 1)), color-stop(25%, rgba(131, 224, 1, 1)), color-stop(50%, rgba(121, 209, 2, 1)), color-stop(75%, rgba(112, 189, 4, 1)), color-stop(100%, rgba(104, 179, 6, 1)));
    background: -webkit-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -o-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -ms-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    position: relative;
    bottom: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e700', endColorstr='#68b306', GradientType=0);
}

.button_style_search {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 300 !important;
    background: none !important;
    border: 1px solid #f88a4e !important;
    width: 123px;
    color: #f88a4e !important;
    text-shadow: none !important;
    margin-top: 25px;
}

.button_style_cart {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 188px;
    height: 36px;
    margin-left: 30px;
    color: #f88a4e;
    border-radius: inherit;
}

.button_style_cart_next {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 152px;
    height: 32px;
    margin-left: 30px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.button_style_cart_next:hover {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 152px;
    height: 32px;
    margin-left: 30px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.button_style_login {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 123px;
    height: 32px;
    margin-left: 30px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.button_style_login:hover {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 123px;
    height: 32px;
    margin-left: 30px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.button_style_coupon {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 123px;
    height: 32px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.button_style_coupon:hover {
    background: none !important;
    border: 1px solid #f88a4e;
    width: 123px;
    height: 32px;
    color: #f88a4e;
    border-radius: inherit;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 11px;
}

.price-new_style {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    font-weight: 700;
    color: #7fa74c;
    font-style: italic;

}

.price_style {
    font-size: 16px;
}

.featured {
    font-size: 15px;
    font-weight: bold;
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translateY(-28px);
}

.checkout_title {
    margin-top: 26px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: 500;
    color: #649715;
    margin-bottom: 38px;
}

.featured_2 {
    margin-top: 35px;
    margin-bottom: 32px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.product-day {
    padding: 20px 25px 20px 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
}

.text_style_h2_html {
    margin-top: 23px;
    margin-bottom: 33px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.text_style_html {
    font-size: 14px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.style_search {
    margin-top: 3px;
}

.style_currency:nth-child(n+2) {
    margin-left: 5px;
}

.style_currency {
    font-weight: bold;
}

.style_currency span {
    /*margin-right: 8px;*/
    /*padding-right: 32px;*/
    margin-right: 5px;
    padding-right: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center right;
}

.style_currency span.usd {
    background-image: url('../../../../../image/flags/us.png');
}

.style_currency span.eur {
    background-image: url('../../../../../image/flags/eu.png');
}

.style_currency span.rub {
    background-image: url('../../../../../image/flags/ru.png');
}

.footer-menu-text-style {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-style: normal;
    color: #333333;
    text-decoration: underline;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 15px;
}

.footer-menu-text-style_1 {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    text-decoration: underline;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 15px;
}

.footer-menu-text-style_4 {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-style: normal;
    color: #333333;
    text-decoration: underline;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 0;
}

.text_style_owl {
    display: block;
    font-size: 15px;
    color: #333333;
}

/* featured2 */
.featured2_text a {
    font-size: 15px;
    color: #006699;
}

.featured2_text_p {
    font-size: 14px;
}

.featured2_text_p_price, .price-new {
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
}

.button_style_featured2 {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    outline: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    background: rgba(135, 231, 0, 1);
    background: -moz-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135, 231, 0, 1)), color-stop(25%, rgba(131, 224, 1, 1)), color-stop(50%, rgba(121, 209, 2, 1)), color-stop(75%, rgba(112, 189, 4, 1)), color-stop(100%, rgba(104, 179, 6, 1)));
    background: -webkit-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -o-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: -ms-linear-gradient(top, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 231, 0, 1) 0%, rgba(131, 224, 1, 1) 25%, rgba(121, 209, 2, 1) 50%, rgba(112, 189, 4, 1) 75%, rgba(104, 179, 6, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e700', endColorstr='#68b306', GradientType=0);
}

.text_shopping_cart {
    padding-left: 35px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 900 !important;
    color: #333333;
}

.block_image_cart {
    border-top: 1px solid #f4f4f4 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
}

.text_cart_style {
    font-family: 'Trebuchet MS' !important;
    font-size: 12.14px !important;
    font-weight: 300 !important;
    color: #333333;
    padding-left: 25px !important;
}

.dani_cart_style {
    font-family: 'Trebuchet MS' !important;
    font-size: 12.14px !important;
    font-weight: 300 !important;
    color: #333333;
}

.text_total_cart_style {
    font-family: 'Trebuchet MS' !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333333;
    padding-left: 25px !important;
}

.dani_total_cart_style {
    font-family: 'Trebuchet MS' !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    font-style: italic;
    color: #649715;
}

.text_empty_style {
    font-family: 'Trebuchet MS';
    font-size: 13.86px;
    font-weight: 500;
    color: #333333;
    font-style: italic;
}

.cart_product_name {
    font-family: 'Trebuchet MS';
    font-size: 13.99px;
    font-weight: 500;
    color: #333333;
    text-decoration: underline;
}

.text-center .button_remove {
    color: #0c83e7;
    background: none;
    border: none;
}

.icon_X {
    background: url("../../../../../image/catalog/demo/icon-X.png") no-repeat center;
    width: 7px;
    height: 7px;
    top: 5px;
    position: absolute;
    border: none;
}

.toggle_menu_wrap {
    max-height: 480px;
}

.image_cart {
    width: 25px;
}

.name_style {
    margin-bottom: 30px !important;
}

.owl-next {

}

.owl-nav {
    margin-top: -70px !important;
    margin-left: 103%;
}

#top_slyder {
    min-height: 102px !important;
}

#carousel_header {
    background-color: #fff;
    border-radius: 3px 0 0 3px;
    opacity: 0.8;
}

#top_slyder .owl-stage-outer {
    padding-right: 90px;
}

#top_slyder .owl-item {
    background-image: url('../../../../../image/separator.png');
    background-repeat: no-repeat;
    background-position: center right;
}

#top_slyder .owl-prev {
    display: none;
}

#top_slyder .owl-next {
    margin-left: 99%;
}

/*  */

/* Product */
.product_text_name_product {
    font-family: Verdana;
    font-size: 15px;
    font-weight: 900 !important;
    color: #006699;
}

.input-sort {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    border-radius: inherit !important;
    padding-left: 15px !important;
    margin-right: 15px !important;
    font-family: 'Trebuchet MS';
    font-size: 13px !important;
    font-weight: normal !important;
    color: #a3a2a2;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png") no-repeat 94% 50%;
}

.input-sort_store {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 95px;
    height: 24px;
    font-size: 13px;
    padding: 0 0 0 13px;
    color: #006699;
    border: 0;
    box-shadow: none;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(26%, rgba(253, 253, 253, 1)), color-stop(51%, rgba(248, 248, 248, 1)), color-stop(76%, rgba(245, 244, 244, 1)), color-stop(100%, rgba(242, 241, 241, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 26%, rgba(248, 248, 248, 1) 51%, rgba(245, 244, 244, 1) 76%, rgba(242, 241, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f1f1', GradientType=0);
    /*background-image: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png");
	background-repeat: no-repeat;
	background-position: 94% 50%;*/
}

.input-sort_store:focus {
    border: 0;
    box-shadow: none;
}

.input-sort_search {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    width: 225px !important;
    border-radius: inherit !important;
    padding-left: 15px !important;
    margin-right: 15px !important;
    font-family: 'Trebuchet MS';
    font-size: 13px !important;
    font-weight: normal !important;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png") no-repeat 94% 50%;
    color: #a3a2a2;
}

.input-sort_categori_1 {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    width: 60px !important;
    border-radius: inherit !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Trebuchet MS';
    font-size: 14px !important;
    font-weight: normal !important;
    color: #87c700;
    text-decoration: underline;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_2.png") no-repeat right;
}

.input-sort_search_1 {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    width: 60px !important;
    border-radius: inherit !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Trebuchet MS';
    font-size: 14px !important;
    font-weight: normal !important;
    color: #87c700;
    text-decoration: underline;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_2.png") no-repeat right;
}

.input-sort_categori_2 {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    border-radius: inherit !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Trebuchet MS';
    font-size: 14px !important;
    font-weight: normal !important;
    color: #87c700;
    text-decoration: underline;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_2.png") no-repeat right;
}

.input-sort_search_2 {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px !important;
    border-radius: inherit !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Trebuchet MS';
    font-size: 14px !important;
    font-weight: normal !important;
    color: #87c700;
    text-decoration: underline;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_2.png") no-repeat right;
}

.filt_name {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: normal !important;
    text-decoration: underline !important;
}

.text_weight {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: normal !important;
}

.text_price {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: normal !important;
}

.filter {
    width: 100%;
    height: 43px;
    background: #f9f9f9;
    margin-top: 14px;
    margin-bottom: 21px;
}

.text_why_us {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 17.99px;
    color: #649715;
    margin-top: 45px;
    margin-bottom: 65px;
}

.style_container_category_bottom {
    background: #f9f9f9;
}

.container_weights {
    padding: 0;
}

/*  */
.review {
}

.review #myCarousel {
    background-color: #fff;
    padding: 30px 20px 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
}

.text_reviews {
    font-size: 15px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 30px;
}

.text_author {
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 80% !important;
    margin: auto;
    margin-top: 20px;
    text-align: right;
}

.text_text {
    font-size: 14px;
}

.text_text_container {
    width: 80% !important;
    margin: auto;
}

.strilcka_vlivo,
.strilcka_vpravo {
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    top: 30%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.strilcka_vlivo {
    background: url("../../../../../image/catalog/demo/Strylka_vlivo.png") no-repeat center !important;
    left: 50%;
    margin-left: -10px;
}

.strilcka_vpravo {
    background: url("../../../../../image/catalog/demo/Strilka_vpravo.png") no-repeat left !important;
    margin-right: -10px;
}

button.style_country {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #999;
    border-radius: 0;
    background: url("../../../../../image/catalog/demo/strilka_vnuz_category_1.png") no-repeat 94% 50% !important;
}

.text_title_search {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.text_entry_search {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.text_description {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: -15px;
}

.text_description_2 {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.text_empty_style_search {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.button_review {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    background-color: #87c700;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    border: 0px;
}

.button_contact {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    background-color: #87c700;
    color: white !important;
    padding: 10px 30px;
    border-radius: 40px;
    border: 0px;
    text-color: #fff
}

/* contact */
.heading_title_contact, .text_contact_contact {
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #333333;
}

.text_location_contact, .store_contact, .address_contact, .text_telephone_contact, .telephone_contact,
.text_fax_contact, .fax_contact {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: #333333;
}

.entry_name_contact, .error_name_contact, .entry_email_contact, .error_email_contact,
.entry_enquiry_contact, .error_enquiry_contact {
    font-family: 'Trebuchet MS';
    font-size: 14px;
}

/**/
/* information */
.heading_title_information {
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #333333;
}

/**/
/* store_review */
.heading_title_review {
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #333333;
}

.author_review, .text_review, .data_review {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: #333333;
}

/**/
/* owl_dots */
.slider_pager .owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #f8f8f8;
    display: inline-block;
    z-index: 999;
    position: relative;
    margin-left: 5px;
}

.slider_pager .owl-dot.active {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #474747 !important;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .99);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .99);
    box-shadow: 0 0 2px rgba(0, 0, 0, .99);
}

.slider_pager {
    margin-top: 35px;
}

/**/
.panel {
    border-radius: 0 !important;
}

.checkout_text_1 {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #080808;
}

.panel-default > .panel-heading {
    background-color: #f9f9f9 !important;
    border-color: #f9f9f9 !important;
}

.panel-default {
    border-color: #f9f9f9;
}

.text_style_checkout {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #333333;
    font-weight: 100 !important;
    line-height: 2;
}

a.name_style_checkout {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #333333;
    font-weight: 100 !important;
}

.price_checkout {
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #649715;
}

.remove-product {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #f6637f;
    cursor: pointer;
}

.trash-information {
    padding-top: 42px;
}

.text_new_customer {
    font-family: "Trebuchet MS";
    font-size: 22px;
    color: #649715;
}

.text_register_checkout label {
    font-family: "Trebuchet MS";
    font-size: 18px;
    text-decoration: underline;
    color: #333;
}

.text_register_checkout {
    font-family: "Trebuchet MS";
    font-size: 18px;
    text-decoration: underline;
    color: #333;
}

p.text_qwe_checkout {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #333;
}

.form-control_style_checkout {
    height: 30px !important;
    border-radius: 0 !important;
    border-color: #efefef !important;
}

.form-control_style_checkout_2 {
    height: 30px !important;
    border-radius: 0 !important;
    border-color: #efefef !important;
}

.required {
    margin-bottom: 5px !important;
}

.checkbox-header, .health_problems, .poor_hearing, .poor_sees, .not_walking, .other_defects {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #454545;
}

.form-control_coupon {
    font-family: "Trebuchet MS";
    margin-left: 15px;
    display: block;
    width: 58%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #bababa !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #f0f0f0 !important;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.leg_rig_33 {
    margin: -6px -697px 0 0 !important;
    width: 58.6%;
}

@media (min-width: 1200px) and (max-width: 1209px) {
    .owl-theme .owl-nav [class*=owl-] {
        padding: 0 !important;
    }
}

@media (min-width: 1200px) {
    .amount-icon-style-KP1 {
        margin-left: 9px !important;
    }

    .amount-icon-style-KP2 {
        margin-left: 4px !important;
    }

    .cart_home {
        padding-right: 0;
        float: right !important;
    }

    .mini-baner-1 {
        padding-left: 0 !important;
        padding-bottom: 20px;
    }

    .mini-baner-2 {
        padding-right: 0 !important;

    }

    .image_banner {
        height: 233px;
    }

    .slideshow_container {
        padding-right: 5px;
        padding-left: 5px;
    }

    .featured2_KP {
        padding-right: 0px;
    }

    .owl-prev {
        margin-right: 99% !important;
    }

    .form-control_coupon {
        width: 58% !important;
    }

    .checkoutprodborder {
        margin-left: 50px;
    }

    .margin_quantity {
        margin-left: 60px !important;
    }

    .container_KP_40 {
        width: 40.4% !important;
    }

    .title_img_product img {
        width: 90% !important;
    }

    .language {
        text-align: right !important;
        padding: 0 !important;
    }

    .text_language {
        text-align: right !important;
    }

    .login_and_register {
        text-align: right !important;
        padding: 0;
    }

    .KP-20 .transition {
        height: 410px;
    }

    .KP-20 {
        height: 427px;
        width: 31%;
        margin-right: 17px;
        padding: 0;
    }

    .KP-20:nth-child(3n) {
        height: 427px;
        width: 31%;
        margin-right: 0;
        padding: 0 0px 0 0;
    }

    .img_home_style {
        margin-left: 35px !important;
        margin-bottom: 44px !important;
        margin-top: 15px;
    }

    .text_home_style_2 {
        margin-top: 20px !important;
    }

    .text_home_style {
        font-family: 'Trebuchet MS';
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        text-decoration: underline !important;
    }

    .img_home_style_2 {
        margin-left: 30px !important;
        margin-bottom: 44px !important;
    }

    .img_home_style_3 {
        margin-left: 48px !important;
        margin-bottom: 44px !important;
    }

    .img_home_style_4 {
        margin-left: 40px !important;
        margin-bottom: 25px !important;
    }

    .img-responsive_home {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .style_country {
        margin-top: 3px;
        width: 170px;
        height: 25px;
    }

    .input-sort_search_2 {
        width: 90%;
    }

    .input-sort {
        width: 225px !important;
    }

    .input-sort_categori_2 {
        width: 96% !important;
    }

    .container_input_sort_categori_2 {
        padding-right: 0;
    }

    .we_are_in_social_networks_KP {
        margin-top: 10px;
        text-align: center;
    }

    .currency_KP {
        text-align: center;
    }

    .container_select_country {
        text-align: center;
    }

    .telephone {
        margin-top: 13px !important;
    }

    .fix_style {
        margin-bottom: 15px;
        margin-top: 0px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cls_border_3 {
        margin-right: -130px !important;
    }

    .block_style_KP_2 {
        position: relative;
        height: 245px;
    }

    #nav li {
        margin-right: -15px !important;
    }

    .amount-icon-style-KP1 {
        margin-left: 9px !important;
    }

    .leg_rig_33 {
        margin: 0 -753px 0 0 !important;
        width: 48.6% !important;
    }

    .amount-icon-style-KP2 {
        margin-left: 4px !important;
    }

    .cart_home {
        padding-right: 0;
        float: right !important;
    }

    .mini-baner-1 {
        padding-left: 0 !important;
        padding-bottom: 20px;
        padding-right: 12.5px;
    }

    .mini-baner-2 {
        padding-right: 0 !important;
        padding-bottom: 20px;
        padding-left: 12.5px;
    }

    .legend__left,
    .legend__right {
        width: 29%;
    }

    .counter-product_KP {
        width: 75px !important;
    }

    .slideshow_container {
        padding: 0 !important;
    }

    .telephone {
        margin-top: 13px;
    }

    .language {
        text-align: center !important;
    }

    .container_select_country {
        text-align: center;
    }

    .currency_KP {
        text-align: right;
    }

    .fix_style {
        margin-bottom: 15px;
        margin-top: 0px
    }

    .login_and_register_KP {
        text-align: center;
        margin-top: 25px;
    }

    .icon_header_KP {
        text-align: right !important;
        margin-top: 25px !important;
    }

    .we_are_in_social_networks_KP {
        margin-top: 10px;
        text-align: right;
        padding-right: 0;
    }

    .style_viget {
        margin-top: 17px !important;
        position: absolute;
        left: 50%;
        margin-left: -113.75px;
    }

    .KP-20 {
        height: 455px;
        width: 47%;
        margin-right: 22px;
        padding: 0;
    }

    .KP-20 .transition_KP {
        height: 433px;
    }

    .KP-20:nth-child(2n) {
        height: 455px;
        width: 47%;
        margin-right: 0;
        padding: 0 0px 0 0;
    }

    .owl-prev {
        margin-right: 99% !important;
    }

    .checkoutprodborder {
        margin-left: 40px;
    }

    .margin_quantity {
        margin-left: 45px !important;
    }

    .div-menu-style_KP {
        text-align: center;
    }

    .text_storinok a, .header-menu-text-style {
        padding-left: 14px !important;
        padding-right: 10px !important;
    }

    .header-menu-text-style_1 {
        padding-left: 0 !important;
        padding-right: 0px !important;
    }

    .header-menu-text-style_3 {
        padding-left: 0px !important;
        padding-right: 0 !important;
    }

    .style_search {
        padding-left: 5px !important;
        padding-right: 0 !important;
    }

    .style_currency {
        font-family: 'Trebuchet MS';
        font-size: 13px;
        font-weight: 700;
        color: #333333;
        margin-left: 20px !important;
    }

    .img_home_style, .img_home_style_2, .img_home_style_3, .img_home_style_4 {
        text-align: center !important;
    }

    .text_home_style {
        font-family: 'Trebuchet MS';
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        text-decoration: underline !important;
    }

    .image_home_top {
        margin-bottom: 35px;
    }

    .style_KP {
        text-align: center;
        margin-bottom: 25px;
    }

    .img-responsive_home {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .language {
        text-align: center !important;
        padding-right: 42px;
        padding-left: 0;
    }

    .text_language {
        text-align: right !important;
    }

    .currency {
        text-align: center;
    }

    .text_select_country {
        text-align: right;
        padding: 0 !important;
    }

    .style_country {
        margin-top: 3px;
        width: 200px;
        height: 25px;
    }

    .footer-menu-text-style {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .footer-menu-text-style_1 {
        padding-left: 0 !important;
        padding-right: 10px !important;
    }

    .footer-menu-text-style_4 {
        padding-left: 10px !important;
        padding-right: 0 !important;
    }

    .we_are_in_social_networks_container {
        text-align: right !important;
    }

    .search_container_style {
        margin-bottom: 70px;
    }

    .input-sort {
        width: 225px !important;
    }

    .input-sort_categori_2 {
        width: 96% !important;
    }

    .container_input_sort_categori_2 {
        padding-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .we_are_in_social_networks_KP {
        margin-top: 10px;
        text-align: center;
        padding-right: 0;
    }

    .cls_border_3 {
        margin-right: -233px !important;
    }

    .block_style_KP_2 {
        position: relative;
        height: 227px;
    }

    .style_viget {
        position: absolute;
        left: 50%;
        margin-left: -113.75px;
    }

    .container_cart_2 {
        left: 50%;
        margin-left: -50px;
        top: 25%;
        position: absolute;
    }

    .text_shopping_cart3 {
        font-family: Verdana;
        font-weight: bolder;
        font-size: 30px;
        padding: 0px;
    }

    .container_cart_1 {
        width: 100%;
        top: 50%;
        position: absolute
    }

    .container_cart {
        padding: 0;
    }

    .container_button_continue_KP {
        margin-top: 75px !important;
    }

    #content-KP {
        min-height: 400px !important;
    }

    .checkoutpadding_KP {
        padding-right: 10px !important;
    }

    .checkoutpadding_KP-2 {
        padding-left: 10px !important;
    }

    .text_forgotten {
        margin: 0 !important;
    }

    .amount-icon-style-KP1 {
        margin-left: 9px !important;
    }

    .leg_lef {
        display: none;
    }

    .amount-icon-style-KP2 {
        margin-left: 4px !important;
    }

    .cart_home {
        padding: 0;
        margin-bottom: 15px;
    }

    .we_are_in_social_networks_container {
        text-align: right !important;
        padding: 0;
    }

    .counter-product_KP {
        width: 75px;
    }

    .KP-20 {
        height: 455px;
        width: 48%;
        margin-right: 22px;
        padding: 0;
    }

    .KP-20 .transition_KP {
        height: 433px;
    }

    .KP-20:nth-child(2n) {
        height: 455px;
        width: 48%;
        margin-right: 0;
        padding: 0 0px 0 0;
    }

    .mini-baner-1 {
        padding-left: 0 !important;
        padding-bottom: 20px;
        padding-right: 12.5px;
    }

    .mini-baner-2 {
        padding-right: 0 !important;
        padding-bottom: 20px;
        padding-left: 12.5px;
    }

    .slideshow_container {
        padding: 0 !important;
    }

    .telephone {
        margin-top: 15px !important;
    }

    #currency {
        margin-left: 195px;
        margin-bottom: 25px;
    }

    .container_select_country {
        text-align: right;
        padding-right: 0 !important;
    }

    .currency_KP {
        text-align: center;
    }

    .login_and_register_KP {
        text-align: center;
    }

    .input-dimensions_KP2 {
        font-size: 15px;
        width: 25px;
        height: 30px;
        border-top: 0;
        border-bottom: 0;
        border-left: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        bottom: 0px !important;
        right: 80px !important;
    }

    .amount-icon-div_KP2 {
        width: 22px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        position: relative;
        bottom: 0 !important;
        right: 74px !important;
    }

    .amount-icon-div_KP3 {
        width: 22px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        bottom: 36px;
        left: 45px;
        position: relative;
    }

    .checkoutprodborder {
        margin-left: 30px;
    }

    .fv {
        margin-top: 20px;
    }

    .featured {
        width: 36% !important;
    }

    .product_text_name_product {
        padding-left: 35%;
        padding-top: 15px;
    }

    .margin_quantity {
        margin-left: 25px !important;
    }

    .div-menu-style {
        text-align: center !important;
        margin-bottom: 15px !important;
    }

    .style_currency {
        margin-left: 25px;
    }

    .text_home_style {
        font-family: 'Trebuchet MS';
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        text-decoration: underline !important;
    }

    .img_home_style, .img_home_style_2, .img_home_style_3, .img_home_style_4 {
        text-align: center !important;
    }

    .image_home_top {
        margin-bottom: 35px;
    }

    .style_KP {
        text-align: center;
    }

    .block_style {
        margin-top: 20px !important;
    }

    .container_weights {
        padding: 0 !important;
    }

    .login_and_register {
        text-align: right;
        padding: 0;
    }

    .language {
        text-align: left !important;
        padding-left: 0;
        padding-right: 35px;
    }

    .text_language {
        text-align: left !important;
    }

    .style_country {
        margin-top: 3px;
        width: 200px;
        height: 25px;
    }

    .image_home_top {
        margin-bottom: 35px;
    }

    .style_KP {
        text-align: center;
        margin-bottom: 25px;
    }

    .input-sort_search_2 {
        width: 100%;
    }

    .input-sort_search {
        margin-bottom: 25px;
    }

    .container_style_icon {
        text-align: center;
    }

    .container_style_icon_2 {
        text-align: center;
    }

    .input-sort {
        width: 225px !important;
    }

    .input-sort_categori_2 {
        width: 100% !important;
    }

    .container_input_sort_categori_2 {
        padding-right: 0;
    }

    .owl-prev {
        margin-right: 98% !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cls_border_2{
        height: 80px !important;
    }
    .toggle_menu_wrap {
        max-height: 580px !important;
    }
    .button-cart_style, .button-cart_style:hover, .button-cart_style:focus, .button-cart_style:active{
        width: 395px !important;
        height: 75px !important;
    }
    .image_cart-style{
        margin-top: -13px !important;
    }
    .cart_KP{
        height: 540px !important;
    }
    .cart_KP_2{
        height: 540px !important;
    }
    .cart-icon-div-style_1{
        height: 40px!important;
        width: 28px!important;
        left: 5px;
    }
    .cart-style_quantity_1 {
        width: 42px !important;
        height: 40px !important;
    }
    .cart-icon-div-style {
        height: 38px!important;
        width: 28px !important;
        top: 6px !important;
        left: 4px !important;
    }
.fygura-47{
    height: 50px !important;
    width: 110px !important;
}

    .icon_cart_1 {
        width: 50px !important;
        height: 40px !important;
    }
    .cart-icon_X-style {
        background: url(/catalog/view/theme/default/image/remove.png) no-repeat center;
        width: 20px !important;
        height: 20px !important;
        top: 10px !important;
        position: absolute;
        border: none;
    }
    .featured2_text_p {
        font-size: 20px !important;
    }

    .button_style {
        height: 80px !important;
        font-size: 30px !important;
    }

    .prices-product-style_KP {
        font-size: 20px !important;
    }

    .mob_style {
        font-size: 26px !important;
    }
    .mob_text_20{
        font-size: 20px !important;
    }
    .container_review{
        height: 310px !important;
    }
    .mob_button_style {
        height: 80px !important;
        font-size: 30px !important;
    }

    .we_are_in_social_networks_KP {
        margin-top: 10px;
        text-align: center;
        padding-right: 0;
    }

    .cls_border_3 {
        margin-right: -150px !important;
        margin-top: 13px !important;
    }

    .block_style_KP_2 {
        position: relative;
        height: 227px;
    }

    .style_viget {
        position: absolute;
        left: 50%;
        margin-left: -113.75px;
    }

    .container_cart_1 {
        width: 100%;
        top: 50%;
        position: absolute
    }

    .container_cart {
        padding: 0;
    }

    .KP-20 .transition {
        min-height: 450px !important;
    }

    .button_login_style_KP {
        margin-bottom: 25px;
    }

    .container_button_continue_KP {
        margin-top: 25px !important;
    }

    .owl-nav {
        margin-left: 108% !important;
    }

    .leg_lef {
        display: none;
    }

    .amount-icon-style-KP1 {
        margin-left: 3px !important;
    }

    .amount-icon-style-KP2 {
        margin-left: -1px !important;
    }

    .input-dimensions_KP {
        margin-left: 2px !important;
    }

    .cart_home {
        padding: 0;
        margin-bottom: 20px;
    }

    .counter-product_KP {
        width: 85px !important;
        height: 40px !important;
    }

    .KP-100 {
        padding: 0 80px 0 80px !important;
        text-align: center;
    }

    .mini-baner-1 {
        padding-left: 0 !important;
        padding-bottom: 21px;
    }

    .block_style {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mini-baner-2 {
        padding-right: 0 !important;
        padding-bottom: 21px;
    }

    .style_search {
        margin-top: -11px !important;
        margin-bottom: 11px !important;
    }

    .container_logo {
        text-align: -webkit-center !important;
    }

    .container_select_country {
        text-align: right;
        margin-top: 15px;
        padding-right: 0;
    }

    .language {
        text-align: left;
        margin-top: 15px;
        padding-left: 0;
        padding-right: 48px;
    }

    .currency_KP {
        text-align: center;
        margin-top: 15px;
    }

    .login_and_register_KP {
        text-align: center !important;
        margin-top: 15px;
    }

    .input-dimensions_KP2 {
        font-size: 15px;
        width: 25px;
        height: 30px;
        border-top: 0;
        border-bottom: 0;
        border-left: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        bottom: 0px !important;
        right: 80px !important;
    }

    .amount-icon-div_KP2 {
        width: 22px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        position: relative;
        bottom: 0 !important;
        right: 74px !important;
    }

    .amount-icon-div_KP3 {
        width: 22px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        bottom: 0 !important;
        right: 85px !important;
        position: relative;
    }

    .button_style {
        margin-bottom: 25px !important;
    }

    .fv {
        margin-top: 20px;
    }

    .button_style_featured2 {
        margin-bottom: 15px !important;
    }

    .checkoutprodborder {
        margin-left: 35px;
    }

    .div-menu-style {
        text-align: center !important;
        margin-bottom: 15px !important;
    }

    .style_currency {
        margin-left: 8px;
    }

    .text_currency {
        font-family: 'Trebuchet MS';
        font-size: 13px;
        font-weight: 700;
        text-align: center !important;
    }

    .img_home_style, .img_home_style_2, .img_home_style_3, .img_home_style_4 {
        text-align: center !important;
    }

    .image_home_top {
        margin-bottom: 20px;
    }

    .style_KP {
        text-align: center;
    }

    .text_home_style {
        font-family: 'Trebuchet MS';
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        text-decoration: underline !important;
    }

    .container_style_icon {
        margin-bottom: 20px;
        text-align: center;
    }

    .container_style_icon_2 {
        text-align: center;
    }

    .KP-20 {
        width: 95%;
        padding: 0;
        margin-left: 2.5%;
    }

    .img-responsive_home {
        width: 100%;
    }

    .button-group_style {

    }

    .language {
        text-align: right;
    }

    .login_and_register {
        text-align: center;
    }

    .style_country {
        margin-top: 3px;
        width: 200px;
        height: 25px;
    }

    .text_select_country {
        padding: 0 !important;
        text-align: right;
    }

    .owl-carousel {
        margin-bottom: 35px;
    }

    .filter {
        height: 85px !important;
    }

    .input-sort_categori_2 {
        max-width: 171px;
    }

    .input-sort_search_2 {
        max-width: 171px;
    }

    .input-sort_search {
        margin-bottom: 15px;
    }

    .owl-prev {
        margin-right: 92% !important;
    }

    .slideshow_container {
        padding: 0;
    }

    .we_are_in_social_networks {
        padding-right: 3px !important;
    }

    .we_are_in_social_networks_container {
        padding-right: 0 !important;
    }

    .img-responsive {
        width: 100% !important;
        margin: 0 auto;
    }
}

@media (min-width: 500px) and (max-width: 650px) {
    .owl-prev {
        margin-right: 92% !important;
    }

    .button_style_featured2 {
        margin-bottom: 15px !important;
    }

    .w {
        left: 96% !important;
    }

    .KP-20 {
        width: 95%;
        margin-right: 14px;
        padding: 0;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
	.text_telephone_style{
		font-size: 19px;
	}
	.button_sviat_mob{
		height: inherit!important;
	}
	.text_language {
		font-size: 19px!important;
	}
	.dropdown-menu>li>a {
		font-size: 18px!important;
	}
	.sviat_mob_text{
		font-size: 25px!important;
	}
	.text_currency {
		font-size: 25px!important;
	}
	.style_currency span {
		background-size: 30%;
	}
}
.button_sviat_mob{
	height: 22px;
}
.header-ln-style > div > form > div > button{
    background-color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}
.header-ln-style_1{
    background-color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}