.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}
.breadcrumbmy-margin-style{
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.co-back-2 {
	background-color: white;
	padding-top: 35px;
	-webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
}
.breadcrumbmy-first-elem,
.breadcrumbmy-first-elem:hover,
.breadcrumbmy-first-elem:visited,
.breadcrumbmy-first-elem:focus {
	color: #333333;
	font-size: 15px;
	font-family: 'Verdana';
}
.breadcrumbmy-last-elem,
.breadcrumbmy-last-elem:hover,
.breadcrumbmy-last-elem:visited,
.breadcrumbmy-last-elem:focus {
	font-family: 'Verdana';
	color: #333333;
	font-size: 15px;
	font-weight: bold;
}
.product-description-style{
	margin: 3px 0 !important;
	color: #333333;
}
.product-text-style{
	font-size: 15px;
	color: #333333;
	padding-top: 18px;
}
.product-description-text-style{
	font-family: 'Trebuchet MS';
	font-size: 15px;
	line-height: 25px;
	color: #000;
	text-align: justify;
	background-color: #f9f9f9;
	margin-top: -20px;
}
.product-cart-btn,
.product-cart-btn:hover,
.product-cart-btn:visited,
.product-cart-btn:focus,
.product-cart-btn:active{
	background-color: transparent !important;
	background-image: none;
	border: 1px solid #f88a4e;
	color: #f88a4e;
	outline: none;
	border-radius: 0;
	position: relative;
	height: 35px;
	padding-left: 28px;
}
.product-icon-position{
	left: 9px;
	top: 6px;
}
.marg_ot{
	margin-bottom: 5%;
}
.input-dimensions{
	color: #333333;
	font-size: 16px;
	height: 14px;
	width: 22px;
	border: none;
	position: relative;
	right: 50px;
	background-color: #f3f2f2;
}
.input-dimensions_KP{
	margin-left: 8px;
	font-size: 15px;
	width: 25px;
	height: 30px;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	background-color: transparent;
}
.prices-product-style{
	margin-top: 20px;
	font-size: 24px;
	color: #719f33;
	font-style: italic;
	padding-left: 0;
	padding-right: 0;
}
.prices-product-style2{
	font-size: 24px;
	color: #719f33;
	font-style: italic;
	padding-left: 0;
	padding-right: 0;
}
.prices-product-style22{
	font-family: sans-serif;
	font-size: 16px;
	color: #333333;
	padding-left: 0;
	padding-right: 25px;
	font-weight: 900;
	margin-top: 16px;
}
.amount-icon-div_KP2 {
	width: 22px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	position: relative;
	bottom: 36px;
	right: 0px;
}
.input-dimensions_KP2 {
	font-size: 15px;
	width: 25px;
	height: 30px;
	border-top: 0;
	border-bottom: 0;
	border-left: none;
	border-right: none;
	background-color: transparent;
	position: relative;
	bottom: 35px;
	right: 6px;
}
.amount-icon-div_KP3 {
	width: 22px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	bottom: 36px;
	right: 11px;
	position: relative;
}
.amount-icon-div3{
	padding-top: 6px;
	height: 20px;
	background-color: #f3f2f2;
	float: right;
	width: 13px;
	cursor: pointer;
	position: relative;
	bottom: 30px;
	right: 26px!important;
}
.input-dimensions2 {
	color: #333333;
	font-size: 16px;
	height: 14px;
	width: 22px;
	border: none;
	position: relative;
	left: 36px!important;
	background-color: #f3f2f2;
	bottom: 28px!important;
}
.prices-product-style_KP{
	font-size: 16px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	line-height: 32px;
}
.amount-icon-style{
	margin-left: 7px;
	font-size: 10px;
	cursor: pointer;
	display: block;
	text-align: center;
}
.amount-icon-style.minus{
	font-size: 15px;
}
.amount-input-div-style{
	display: inline-block;
}
.amount-icon-div{
	padding-top: 6px;
	height: 20px;
	background-color: #f3f2f2;
	float: left;
	width: 13px;
	cursor: pointer;
	position: relative;
	top: 7px;
	left: 20px;
}
.amount-icon-div2{
	padding-top: 6px;
	height: 20px;
	background-color: #f3f2f2;
	float: right;
	width: 13px;
	cursor: pointer;
	position: relative;
	bottom: 30px;
	right: 33px;
}
.amount-icon-div_KP{
	width: 13px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
.special-price-style{
	text-decoration: line-through;
	font-size: 20px;
	color: #918b8b;
}

.other-cpoduct-div{
	margin-top: 30px;
}
.content-top-div-style{
	margin-bottom: 22px;
}
.productincart-div-info{
	margin-top: 30px;
}
.productincart-btn-div{
	margin-top: 15px;
}
.thead-style{
	border-bottom: 1px green dashed;
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
	padding-left: 30px;
}
.productincart-view-icon-style{
	margin-right: 3px;
}
.productincart-view-btn-style,
.productincart-view-btn-style:hover{
	border-radius: 0;
	background-image: none;
	border-color: inherit;
	outline: none;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );


}
@media (min-width: 1200px){
	.amount-icon-div {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: left;
		width: 13px;
		cursor: pointer;
		position: relative;
		left: 17px;
		top: 2px!important;
	}
	.input-dimensions {
		color: #333333;
		font-size: 16px;
		height: 14px;
		width: 22px;
		border: none;
		position: relative;
		left: 36px;
		background-color: #f3f2f2;
		bottom: 29px;
	}
	.amount-icon-div2 {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: right;
		width: 13px;
		cursor: pointer;
		position: relative;
		top: inherit!important;
		right: 32px!important;
		bottom: 32px;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.btn-cart-margin{
		margin-top: 33px!important;
	}
	.content-top-div-style{
		padding-right: 0;
	}
	.whi_img {
		width: initial;
	}
	.im_left_pos {
		bottom: 6%;
		right: 40%!important;
		position: absolute;
	}
	.amount-icon-div2 {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: right;
		width: 13px;
		cursor: pointer;
		position: relative;
		right: 47px;
		top: 5px;
	}
	.amount-icon-div {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: left;
		width: 13px;
		cursor: pointer;
		position: relative;
		top: 1px;
		left: 18px;
	}
	.ro2_fl_left{
		float: left;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.amount-icon-div_KP3 {
		width: 22px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		bottom: 64px;
		left: 45px;
		position: relative;
	}
	.amount-icon-div {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: left;
		width: 13px;
		cursor: pointer;
		position: relative;
		left: 17px;
		top: 2px!important;
	}
	.input-dimensions {
		color: #333333;
		font-size: 16px;
		height: 14px;
		width: 22px;
		border: none;
		position: relative;
		left: 36px;
		background-color: #f3f2f2;
		bottom: 29px;
	}
	.amount-icon-div2 {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: right;
		width: 13px;
		cursor: pointer;
		position: relative;
		top: inherit!important;
		right: 12px!important;
	}
	.mobile-input-div-margin{
		padding-right: 0;
	}
	.prices-product-style {
		font-size: 17px;
		color: #719f33;
		font-style: italic;
		padding-left: 0;
		padding-right: 0;
	}
	.product-cart-btn, .product-cart-btn:hover, .product-cart-btn:visited, .product-cart-btn:focus, .product-cart-btn:active {
		background-color: transparent !important;
		background-image: none;
		border: 1px solid #f88a4e;
		color: #f88a4e;
		outline: none;
		border-radius: 0;
		position: relative;
		height: 35px;
		padding-left: 28px;
	}
	.amount-icon-style {
		font-size: 9px;
		color: black;
		cursor: pointer;
	}

	.amount-icon-style-KP {
		font-size: 9px;
		color: black;
		cursor: pointer;
	}
}
@media (max-width: 768px) and (min-width: 668px) {
	.prices-product-style {
		margin-top: 20px;
		font-size: 24px;
		color: #719f33;
		font-style: italic;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 667px) and (min-width: 568px) {
	.prices-product-style {
		margin-top: 20px;
		font-size: 22px;
		color: #719f33;
		font-style: italic;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 567px) and (min-width: 468px) {
	.prices-product-style {
		margin-top: 20px;
		font-size: 20px;
		color: #719f33;
		font-style: italic;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 467px) and (min-width: 350px) {
	.prices-product-style {
		margin-top: 20px;
		font-size: 18px;
		color: #719f33;
		font-style: italic;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 768px) and (min-width: 320px) {
	.product_text_name_product {
		padding-left: 35%;
		padding-top: 15px;
	}
	.amount-icon-div2 {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: none;
		width: 13px;
		cursor: pointer;
		position: relative;
		left: 63px;
		bottom: 33px;
	}
	.btn-cart-margin {
		margin-top: 25px!important;
	}
	.amount-icon-div {
		padding-top: 6px;
		height: 20px;
		background-color: #f3f2f2;
		float: left;
		width: 13px;
		cursor: pointer;
		position: relative;
		top: 1px;
		left: 18px;
	}
	.toggle_menu_cont {
		width: 100%!important;
	}
	.product-text-style {
		padding-right: 0;
	}
	.im_left_pos {
		bottom: 6%;
		right: 12%!important;
		position: absolute;
		z-index: 100;
	}
	.btn-cart-margin{
		margin-left: 25px;
		padding-right: 0!important;
	}
	.content-top-div-style{
		padding-right: 0;
	}

}
.im_left_pos{
	bottom: 0%;
	right: 3%;
	position: absolute;
}
.showme{
	display: none;
}
.showhim:hover .showme{
	display : block;
}
.showhim:hover .ok{
	display : none;
}

.showmeq{
	display: none;
}
.showhimq:hover .showmeq{
	display : block;
}
.showhimq:hover .okq{
	display : none;
}

.holder2{
	position:relative;   
	width:300px;
	height:400px;
	background:#ff6600;
	 margin:100px auto;
}
.block2{
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	top:0;
	background:rgba(255,255,255, 0.7);
	padding:5px;
	display:none;
}
.holder2:hover .block2{
	display:block;
}
.holder2:hover .holder2{
	 display:none;
}
.cart-part1-div-style{
	border-bottom: 1px green dashed;
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: -webkit-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -moz-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -o-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: -ms-linear-gradient(bottom, #f2f1ef, #fff 58%);
	background-image: linear-gradient(to top, #f2f1ef, #fff 58%);
	padding-left: 30px;
}
.cart-part1-h4-style{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: bold;
	line-height: 0.7;
}
.cart-aftr-line-style{
	border-bottom: 1px #c8c8c8 dashed;
}
.cart-aftr-line-style_KP{
	border-bottom: 1px #c8c8c8 dashed;
}
.cart-aftr-line-style_KP:last-child{
	border-bottom: 0;
}

.remove-icon-style{
	font-family: "Verdana";
	font-size: 11px !important;
	color: #ff0000;
	cursor: pointer;
	font-weight: bold !important;
}
.cart-name_style_checkout {
	font-family: "Verdana";
	font-size: 14px;
	color: #006699;
	font-weight: 200;
}
.cart-price_checkout {
	font-family: "Verdana";
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.cart-quantity-div-style{
	position: absolute;
	bottom: 50%;
	margin-bottom: -11px;
	left: 50%;
	margin-left: -29px;
}
.cart-style_quantity {
	width: 27px;
	height: 22px!important;
	text-align: center;
	top: 2px;
	font-family: 'Verdana'!important;
	font-size: 12.69px;
	color: #333333;
}
.cart-style_charges {
	height: 15px!important;
	width: 15px;
	text-align: center;
	top: 6px;
	font-size: 15px;
}
.cart-charges_1 {
	cursor: pointer;
	color: #000;
	height: 11px;
	text-align: center;
	display: block;
	line-height: 11px;
}
.cart-charges_2 {
	cursor: pointer;
	color: #000;
	height: 11px;
	text-align: center;
	bottom: 1px;
	display: block;
	line-height: 11px;
}
.cart-text_style_checkout {
	font-family: "Verdana";
	font-size: 15px;
	color: #333333;
	font-weight: 100 !important;
	line-height: 2;
}
.cart-text_style_checkout-total {
	font-family: "Verdana";
	font-size: 15px;
	color: #333333;
	font-weight: bold !important;
	line-height: 2;
}
.cart-button_style2-style,
.cart-button_style2-style:hover,
.cart-button_style2-style:active,
.cart-button_style2-style:focus{
	outline: none;
	padding: 0;
	width: 216px;
	height: 39px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.cart-cupon-button_style2-style,
.cart-cupon-button_style2-style:hover,
.cart-cupon-button_style2-style:active,
.cart-cupon-button_style2-style:focus{
	outline: none;
	padding: 0;
	width: 130px;
	height: 39px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.cart_style2_style,
.cart_style2_style:hover,
.cart_style2_style:active,
.cart_style2_style:focus{
	margin-bottom: -20px !important;
	outline: none;
	padding: 0px 5px;
	height: 30px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.cart-new-customer-style{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: bold;
	margin: 35px 0;
}
.cart-text_register_checkout{
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 14px;
	color: #006699;
}
.cart-text_qwe_checkout{
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 14px;
	color: #333333;
}
.cart-button_style2-style-login,
.cart-button_style2-style-login:hover,
.cart-button_style2-style-login:active,
.cart-button_style2-style-login:focus{
	outline: none;
	padding: 0;
	width: 216px;
	height: 39px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.cart-remember-password-style,
.cart-remember-password-style:hover,
.cart-remember-password-style:active,
.cart-remember-password-style:focus{
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 14px;
	color: #333333;
	margin-top: 30px;
	float: right;
}
.cart-cart-remember-password-style,
.cart-cart-remember-password-style:hover,
.cart-cart-remember-password-style:active,
.cart-cart-remember-password-style:focus{
	outline: none;
	font-family: 'Verdana';
	padding: 0;
	width: 216px;
	height: 39px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.cart-step3-input-style,
.cart-step3-input-style:active{
	height: 40px !important;
	border-radius: 3px !important;
	font-family: 'Verdana';
	font-size: 13px !important;
	font-weight: 100 !important;
	color: #9a9696 !important;
	outline: none !important;
	box-shadow: none !important;
}
.cart-checkbox-header{
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 15px;
	color: #333333;
}
.cart-health_problems{
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 14px;
	color: #333333;
}
.cart-button_style_cart,
.cart-button_style_cart:hover,
.cart-button_style_cart:focus,
.cart-button_style_cart:active{
	outline: none;
	font-family: 'Verdana';
	padding: 0;
	width: 260px;
	height: 39px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	position: relative;
	bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
/*Search classes begin*/
.cls_border_2{
	background-image: linear-gradient(to top, #f2f1ef, #fff 80%);
	border-bottom: 1px dashed #74c900
}
.search-filter-div-style{
	background-color: rgba(255, 255, 255, 1) !important;
	padding: 17px 0 !important;
	-webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
}
.search-input-sort_search-style {
	-webkit-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	height: 25px!important;
	/*width: 225px!important;*/
	border-radius: 3px!important;
	padding-left: 10px!important;
	margin-right: 15px!important;
	font-family: 'Verdana';
	font-size: 13px!important;
	font-weight: 100!important;
	background: url(../../../../../image/catalog/demo/strilka_vnuz_category_1.png) no-repeat 94% 50%;
	color: #006699;
}
.search-input-sort_search-style_KP {
	background-image: -webkit-linear-gradient(bottom, #f2f1f1, #fff);
	background-image: -moz-linear-gradient(bottom, #f2f1f1, #fff);
	background-image: -o-linear-gradient(bottom, #f2f1f1, #fff);
	background-image: -ms-linear-gradient(bottom, #f2f1f1, #fff);
	background-image: linear-gradient(to top, #f2f1f1, #fff);
	box-shadow: none !important;
	outline: none !important;
	border: none;
	background-color: #fbfafa !important;
	-webkit-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	height: 24px!important;
	/*width: 225px!important;*/
	border-radius: 3px!important;
	padding-left: 10px!important;
	margin-right: 15px!important;
	font-family: 'Verdana';
	font-size: 13px!important;
	font-weight: 100!important;
	background: url(../../../../../image/catalog/demo/strilka_vnuz_category_1.png) no-repeat 94% 50%;
	color: #006699;
}
.serch-title-filter-style{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: 100;
	color: #333333;
}

@media (min-width: 1200px){
	.search-KP-20{
		width: 31.8% !important;
		padding: 0 !important;
	}

}
.search-product-title-style a{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: 100;
	color: #006699;
}
.minus-icon-div-style{
	float: left;
}
/*Search classes end*/
/*cart classes begin*/
.title-cart-style a,
.title-cart-style a:hover,
.title-cart-style a:focus,
.title-cart-style a:active{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight: 100;
	color: #006699;
	text-decoration: none;
}
.description-cart-text-style{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: 100;
	color: #333333;
}
.button-cart_style,
.button-cart_style:hover,
.button-cart_style:focus,
.button-cart_style:active{
	padding-top: 19px;
	font-family: 'Verdana';
	width: 315px;
	height: 60px;
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 0px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
	background: rgba(135,231,0,1);
	background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
	background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
}
.total-cart-title-style{
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 15px;
	color: #333333;
}
.cart-icon-div-style{
	 height: 22px;
	 width: 9px;
	 background-color: inherit;
	 text-align: center;
	 top: 6px;
	 font-size: 15px;
	 left: 4px;
}
.cart-icon-div-style_1{
	height: 22px;
	width: 9px;
	background-color: inherit;
	text-align: center;
	top: 3px;
	font-size: 15px;
	left: 9px;
}
.cart-style_quantity_1 {
	width: 20px;
	height: 22px;
	text-align: center;
	top: 4px;
	font-family: 'Verdana'!important;
	font-size: 12.69px;
	color: #333333;
	left: 4px;
}
.cart-price-product-total{
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 15px;
	color: #333333;
}
.cart-tbody-display tbody{
	display: block;
}
.image_cart-style{
	width: 45px;
	margin-top: 5px;
}

/*cart classes end*/
@media (max-width: 767px){
	.search-filter-padding{
		padding-bottom: 10px;
	}

}
.cart-cupon-input-style{
	height: 40px;
	border-radius: 3px;
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 13px !important;
}
.cart-border-none > td{
	border: none !important;
}
.cart-icon_X-style {
	background: url(/catalog/view/theme/default/image/remove.png) no-repeat center;
	width: 7px;
	height: 7px;
	top: 5px;
	position: absolute;
	border: none;
}
@media (min-width: 992px) and (max-width: 1199px){
	.button-cart_style,
	.button-cart_style:hover,
	.button-cart_style:focus,
	.button-cart_style:active{
		padding-top: 19px;
		font-family: 'Verdana';
		width: 270px;
		height: 60px;
		margin-top: 10px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		border: 0px;
		outline: none;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.47);
		background: rgba(135,231,0,1);
		background: -moz-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,231,0,1)), color-stop(25%, rgba(131,224,1,1)), color-stop(50%, rgba(121,209,2,1)), color-stop(75%, rgba(112,189,4,1)), color-stop(100%, rgba(104,179,6,1)));
		background: -webkit-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
		background: -o-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
		background: -ms-linear-gradient(top, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
		background: linear-gradient(to bottom, rgba(135,231,0,1) 0%, rgba(131,224,1,1) 25%, rgba(121,209,2,1) 50%, rgba(112,189,4,1) 75%, rgba(104,179,6,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e700', endColorstr='#68b306', GradientType=0 );
	}

}
.product-border-none > td{
	border-top: none !important;
	border-bottom: 1px #c8c8c8 dashed !important;
}
.product-thead-title{
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	height: 51px;
	padding-top: 16px !important;
}
.product-border-none-style > td{
	border-top: none !important;
	border-bottom: none !important;
	height: 50px;
	padding-top: 20px !important;
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-description-table-style >td{
	font-family: 'Verdana';
	font-weight: 100;
	font-size: 15px;
	color: #333333;
	height: 70px;
	padding-top: 30px !important;
	padding-bottom: 25px !important;
}
