<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
        
                <div class="panel-body">
                  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
                      <div class="col-sm-10">
                        <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
                        <?php if ($error_name) { ?>
                        <div class="text-danger"><?php echo $error_name; ?></div>
                        <?php } ?>
                      </div>
                    </div>          
                    
                    <?php if($stores){ ?>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#store">Україна</a>
                            </li>
                            <?php foreach($stores as $key => $store){ ?>
                                <li class="">
                                    <a data-toggle="tab" href="#store<?= $store['store_id']; ?>"><?= $store['name']; ?></a>
                                </li>
                            <?php } ?>
                        </ul>
                    <?php } ?>

                    <?php if($stores){ ?>
                        <div class="tab-content">
                                <div id="store" class="tab-pane fade in active">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-product"><?php echo $entry_product; ?></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product" value="" placeholder="<?php echo $entry_product; ?>" id="input-product" class="form-control" />
                                            <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
                                                <?php foreach ($products as $product) { ?>
                                                <div id="featured-product<?php echo $product['product_id']; ?>"><i class="fa fa-minus-circle"></i> <?php echo $product['name']; ?>
                                                    <input type="hidden" name="product[]" value="<?php echo $product['product_id']; ?>" />
                                                </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            
                            
                            <?php foreach($stores as $key => $store){ ?>
                                    <div id="store<?= $store['store_id']; ?>" class="tab-pane fade">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-product<?= $store['store_id']; ?>"><?php echo $entry_product; ?></label>
                                            <div class="col-sm-10">
                                                <input type="text" name="product<?= $store['store_id']; ?>" value="" placeholder="<?php echo $entry_product; ?>" id="input-product" class="form-control" />
                                                <div id="featured-product_s<?= $store['store_id']; ?>" class="well well-sm" style="height: 150px; overflow: auto;">
                                                    <?php foreach ($products_s['product'.$store['store_id']] as $product) { ?>
                                                    <div id="featured-product_s<?= $store['store_id']; ?><?php echo $product['product_id']; ?>"><i class="fa fa-minus-circle"></i> <?php echo $product['name']; ?>
                                                        <input type="hidden" name="product<?= $store['store_id']; ?>[]" value="<?php echo $product['product_id']; ?>" />
                                                    </div>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <?php } ?>
                            
                            
                        </div>
                    <?php } ?>
                    
                      
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-limit"><?php echo $entry_limit; ?></label>
                      <div class="col-sm-10">
                        <input type="text" name="limit" value="<?php echo $limit; ?>" placeholder="<?php echo $entry_limit; ?>" id="input-limit" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-width"><?php echo $entry_width; ?></label>
                      <div class="col-sm-10">
                        <input type="text" name="width" value="<?php echo $width; ?>" placeholder="<?php echo $entry_width; ?>" id="input-width" class="form-control" />
                        <?php if ($error_width) { ?>
                        <div class="text-danger"><?php echo $error_width; ?></div>
                        <?php } ?>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-height"><?php echo $entry_height; ?></label>
                      <div class="col-sm-10">
                        <input type="text" name="height" value="<?php echo $height; ?>" placeholder="<?php echo $entry_height; ?>" id="input-height" class="form-control" />
                        <?php if ($error_height) { ?>
                        <div class="text-danger"><?php echo $error_height; ?></div>
                        <?php } ?>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                      <div class="col-sm-10">
                        <select name="status" id="input-status" class="form-control">
                          <?php if ($status) { ?>
                          <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                          <option value="0"><?php echo $text_disabled; ?></option>
                          <?php } else { ?>
                          <option value="1"><?php echo $text_enabled; ?></option>
                          <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                          <?php } ?>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product\']').val('');
		
		$('#featured-product' + item['value']).remove();
		
		$('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#featured-product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
<?php foreach($stores as $key => $store){ ?>  
        <script type="text/javascript"><!--
      $('input[name=\'product<?= $store["store_id"]; ?>\']').autocomplete({
              source: function(request, response) {
                      $.ajax({
                              url: 'index.php?route=catalog/product/autocomplete&token=<?php echo $token; ?>&store_id=<?= $store["store_id"]; ?>&filter_name=' +  encodeURIComponent(request),
                              dataType: 'json',
                              success: function(json) {
                                      response($.map(json, function(item) {
                                              return {
                                                      label: item['name'],
                                                      value: item['product_id']
                                              }
                                      }));
                              }
                      });
              },
              select: function(item) {
                      $('input[name=\'product<?= $store["store_id"]; ?>\']').val('');

                      $('#featured-product_s<?= $store["store_id"]; ?>' + item['value']).remove();

                      $('#featured-product_s<?= $store["store_id"]; ?>').append('<div id="featured-product_s<?= $store["store_id"]; ?>' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product<?= $store["store_id"]; ?>[]" value="' + item['value'] + '" /></div>');
              }
      });

      $('#featured-product_s<?= $store["store_id"]; ?>').delegate('.fa-minus-circle', 'click', function() {
            console.log('------');
              $(this).parent().remove();
      });
      //--></script>
<?php } ?>  
  
</div>
<?php echo $footer; ?>