.autofix_sb {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  top: 0;
  bottom: auto;
  height: 0;
  z-index: 1000;
}

.autofix_sb {
  bottom: 85%;
}

.autofix_cart_home {
  width: 364px;
  position: fixed !important;
  top: 117px;
  bottom: auto;
  height: 506px;
  z-index: 99;
}
.autofix_cart_home_mob{
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .autofix_cart_home {
    width: 298px !important;
  }
}
